body {
    background-color: #141414;
    color: white;
    font-family: Helvetica, sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
}

@media screen and (max-width: 840px) {

    nav {
        height: 5vh;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(20,20,20,0.8155637254901961) 100%);
        display: flex;
        padding: 10px;
        box-sizing: border-box;
    }

    .main{
       height: 90vh; 
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    h1{
        color: white;
        font-weight: 300;
        font-size: 30px;
        line-height: 1rem;
    }
    .user-profile-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        line-height: 0.8rem;
    }
    .user-profile {
        height: 110px;
        width: 90px;
        margin: 5px 5px 20px;
    }
    .user-portrait{
        height: 90px;
        width: 100%;
        border-radius: 5px;
    }
    .user-portrait--darker{
        opacity: 0.4;
    }
    .user-portrait__image{
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }
    .user-name{
        color: #7B7B7B;
        font-size: 12px;
        font-weight: 100;
        text-align: center;
        line-height: .5rem;
    }
    .user-manage-btn{
        border-radius: 0px;
        border: solid .15em #7B7B7B;
        color: #7B7B7B;
        background-color: transparent;
        width: 220px;
        margin-top: 30px;
        letter-spacing: 2px;
        font-size: 13px;
        display: flex;
    }
    .user-manage-btn--active{
        border-radius: 0px;
        color: #141414;
        border: solid .1em whitesmoke;
        background-color: whitesmoke;
        width: 114px;
        margin-top: 30px;
        letter-spacing: 2px;
        font-size: 13px;
        font-weight: 500;
        display: flex;
    }
    .user-manage-btn--active:hover{
        color: whitesmoke;
        background-color: #CC0100;
        border: solid .1em #CC0100;
    }
    .user-manage-btn:hover{
        color: whitesmoke;
        border: solid .1em white;
    }
    .user-manage-btn__text{
        padding: 4px;
        margin: auto;
    }
}

@media screen and (min-width: 841px) {

    nav {
        height: 10vh;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(20,20,20,0.8155637254901961) 100%);
        display: flex;
    }
    .header__logo {
        max-width: 93px;
        max-height: 32px;
        margin: 18px 0 0 55px;
    }
    .main{
       height: 80vh; 
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    h1{
        color: white;
        font-weight: 300;
        font-size: 3.5vw;
        line-height: 1rem;
    }
    .user-profile-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        line-height: 0.8rem;
        margin-top: 18px;
    }
    .user-profile {
        height: 10vw;
        max-height: 200px;
        max-width: 200px;
        min-height: 84px;
        min-width: 84px;
        padding: 0 15px;
        width: 10vw;
    }
    .user-portrait{
        height: 10vw;
        max-height: 200px;
        max-width: 200px;
        min-height: 84px;
        min-width: 84px;
        width: 10vw;
        cursor: pointer;
    }
    .user-portrait--darker{
        opacity: 0.4;
    }
    .user-portrait:hover{
        border: solid 4px white;
        box-sizing: border-box;
        border-radius: 8px;
    }
    .user-portrait__image{
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .user-name{
        color: #7B7B7B;
        font-size: 1.3vw;
        font-weight: 100;
        text-align: center;
        line-height: .5rem;
    }
    .user-manage-btn{
        border-radius: 0px;
        border: solid .1em #7B7B7B;
        color: #7B7B7B;
        background-color: transparent;
        width: 260px;
        margin-top: 100px;
        letter-spacing: 2px;
        font-size: 17px;
        font-weight: 300;
        display: flex;
        cursor: pointer;
    }
    .user-manage-btn:hover{
        color: whitesmoke;
        border: solid .1em white;
    }
    .user-manage-btn--active{
        border-radius: 0px;
        border: solid .1em whitesmoke;
        color: #141414;
        background-color: whitesmoke;
        width: 150px;
        margin-top: 100px;
        letter-spacing: 2px;
        font-size: 17px;
        font-weight: 800;
        display: flex;
        cursor: pointer;
    }
    .user-manage-btn--active:hover{
        color: whitesmoke;
        background-color: #CC0100;
        border: solid .1em #CC0100;
    }
    .user-manage-btn__text{
        padding: 8px;
        margin: auto;
    }
}